# Python virtual environments
venv/
venv310/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/

# Converted CSV files
csvs/


# OS
.DS_Store
Thumbs.db